parameters:
  level: 0
  ignoreErrors:
  paths:
    - .
  scanFiles:
  parallel:
    maximumNumberOfProcesses: 1
  excludePaths:
  dynamicConstantNames:
  universalObjectCratesClasses:
  bootstrapFiles:
    - /home/michel/.local/bin/phpunit
